@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700|Work+Sans:300,400,500,600,700,800,900');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: white
}

header {
    padding-top: 20px;
    color: white;
    position: fixed;
    top: 30px;
    left: 0;
    width: 100%;
    height: 150px;
    padding: 0;
    margin: 0;
}

header.header-content {
    margin: 10px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.left-header,
.right-header {
    display: flex;
    flex-direction: row
}

.left-header a {
    color: rgb(190, 190, 190);
    padding: 0 10px 0 10px;
    transition: 0.1s
}

.left-header a:hover {
    color: white;
}

.active,
.logo {
    color: white
}
img.mracek {
    height: 15px;
    padding-right: 24px
}
.search {
    border: none;
    outline: none;
    height: 47px;
    background-color: transparent;
    text-align: start
}
i.fa-search {
    font-size: 1.4rem;
    color: #bdbdbd
}
.searchbar {
    background-color: rgba(230, 230, 230, 0.315);
    display: flex;
    border-radius: 3px;
    width: 230px
}
input.search {
    color: #B2BBC1;
}
::placeholder { 
    color: rgb(189, 189, 189);
    opacity: 1;
  }
  
/**Tady končí header :))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))**/
/**Tady končí header :))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))**/
/**Tady končí header :))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))**/
/**Tady končí header :))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))**/
/**Tady končí header :))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))**/
/**Tady končí header :))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))**/
/**Tady končí header :))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))**/
/**Tady končí header :))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))**/
/**Tady končí header :))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))**/
.lolhusty {
    width: 1100px
}
.home-slider {
    padding-top: 21%;
    background-image: url(../img/home_slider.jpg);
    background-size: cover;
    height: 950px;
    width: 100%;
    color: white;
}

.pokracujtenadalsi a {
    display: flex;
    padding: 0;
    color: rgb(190, 190, 190);
    transition: linear .1s;
}
.pokracujtenadalsi {
    width: 200px
}
.pokracujtenadalsi i {
    padding-top:2px 
}
.pokracujtenadalsi a:hover {
    color: white
}

.pokracujtenadalsi a img:hover {
    filter: contrast(10000%)
}

.sipeckyyy {
    display: flex;

}

img.nevim {
    height: 15px;
}

i.fa-circle {
    font-size:4px
}
p.sport {
    background-color: #a7a7a788;
    width: 90px;
    height: 27px;
    border-radius: 14px;
    font-size: .9rem;
    text-align: center;
    padding-top: 5px;
    transition: linear .1s;
    margin: 0
}
p.sport:hover {
    color: black;
    background-color: rgb(236, 244, 255);
}
.sipeckyyy a {
    color: rgba(211, 211, 211, 0.685);
    transition: linear .1s
}
.sipeckyyy {
    width: 100px;
}
i.kolo2  {
    padding: 0 7px 0 7px
}
.sipeckyyy a.drsny {
    color: white
}
.sipeckyyy a:hover {
    color: white
}
.fa-chevron-left, .fa-chevron-right {
    padding-top: 5px
}
.wtf {
    width: 402px;
    margin: 0
}
p.pokracujnoobe {
    margin: 0
}